#Source Insight
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.WK3
*.SearchResults

#CScope
cscope.in.out
cscope.out
cscope.po.out

#Tags
tags

*.[ado]
*.so
*.deb
*.dsc
*.tar.gz
*.tgz
*.changes

*~
*.log
*.swp

fbreader-0.8.17/
fbreader/FBReader
zlibrary/core/include
zlibrary/text/include

